root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2


[*.cs]
# 20240130, 關掉 dotnet_diagnostic.IDE1006.severity = none 比較簡單!
# 已將底線改為大寫M, 避開 IDE1006 Naming rule violation: Prefix '_' is not expected
# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# Don't suggest using ILogger placeholders and arguments
# CA2254	The logging message template should not vary between calls to 'LoggerExtensions.LogInformation(ILogger, string?, params object?[])'	SampleConsole	U:\RD\src\Z2024\Sample\ConsoleBase\ConsoleBase\CProject.cs	155	Active
# CA2253	Named placeholders in the logging message template should not be comprised of only numeric characters	SampleConsole	U:\RD\src\Z2024\Sample\ConsoleBase\ConsoleBase\CProject.cs	55	Active
# 乖乖的配合就好, 不要關掉 CA2254, CA2253警告.
# dotnet_diagnostic.CA2254.severity = none