
@{
    ViewBag.Title = "Index";
}

<h2>Views.Default.Index.cshtml</h2>
照以下流程就可以新增 Controller.Action 與對應的 View:
<br />
1. 在 Controller資料夾.滑鼠右鍵.Add.Controller.
<br />
2. 選擇 MVC 5 - empty, name=DefaultController, 產生出 Controllers\DefaultController.cs.
<br />
3. 在 DefaultController.cs.Action (DefaultController.Index()).滑鼠右鍵.Add View. Name=Index, 按 Add 就會產生本檔案.
<br />

